@import 'vars'
@import 'mixins'

.section-demos
  background #c0c4c8
  min-width 0

  use-white-logo()

  main
    background transparent

  &:not(.devderby) 
    override-main-nav-color(#fff)

    #main-header

      .search-wrap
        background-color rgba(255, 255, 255, 0.2)

        &, input, .search-trigger
          color #fff !important


  /* remove ugly button styles */
  .button, button
    compat-important(box-shadow, none)

#demostudio.landing, #demostudio.detail
  compat-important(background-position, center 0px)