/* header */
#main-header
  @extend .clear
  
  border-color transparent
  border-bottom-width 1px
  border-bottom-style solid

  .logo
    @extend .text-offscreen
    width 216px
    height 54px
    background-image url(media-url-dir + 'mdn_logo-wordmark-full_color.svg')
    background-position 0 0
    background-repeat no-repeat
    display block
    float left

#main-nav
  > ul
    float right
    margin-top 20px
    margin-bottom grid-spacing

    > li
      padding-left 31px
      position relative
      opacity 1
      max-width 1000px
      display inline-block
      vendorize(transition-property, width)
      vendorize(transition-duration, default-animation-duration)
      vendorize(transition-delay, default-animation-duration)

      > a, .search-trigger
        compat-important(color, menu-link-color)
        compat-important(text-decoration, none)
        compat-important(text-transform, uppercase)
        compat-important(font-weight, bold)

      > a, .search-wrap
        padding 4px 8px

  button[type='submit']
    display none

  .submenu
    menu-border-width = 5px
    menu-arrow-top = -19px
    component-submenu-method(520px, 2, #fff, #333)

    top 40px
    left -200px
    border-top menu-border-width solid #404040
    z-index 9999

    .submenu-column
      min-height 90px
      display inline-block

    &:before, &:after
      top menu-arrow-top
      left 269px

    &:after
      top (menu-arrow-top - menu-border-width)

  .submenu-single
    width 180px
    left -30px

    &:before, &:after
      top menu-arrow-top
      left 84px


  &.expand
    .search-wrap
      width 500px

    > ul > li:not(:last-child)
      opacity 0
      width 0
      max-width 0
      overflow hidden
      padding 0
      vendorize(transition-delay, 0)

.user-state
  position absolute
  right 200px
  top 12px
  font-size smaller-font-size
  compat-only(width, auto)

  li + li
    border-left 1px solid #bbb

  a, a:hover, a:focus, a:visited
    color link-color

a.persona-button
  vendorize(border-radius, 3px)

  span
    text-decoration none
    outline none
    display block
    float left
    font-size 14px
    line-height 24px
    color white
    font-weight bold
    padding 0 10px 0 20px
    position relative

    &:after
      content:''
      position absolute
      top 0
      right -12px
      width 24px
      height 24px
      z-index 1
      vendorize(transform, scale(0.707) rotate(45deg))
      vendorize(border-radius, 0 3px 0 50px)

    &.persona-icon
      padding-left 3px
      vendorize(border-radius, 3px 0 0 3px)
      create-gradient(#43a6e2, #287cc2)

      &:after
        create-gradient(#43a6e2, #287cc2, left top)

      img
        position relative
        top 2px
        left 5px
        width 14px
        height 15px

    &.signin
      create-gradient(#56565a, #3a3a3a)
      text-shadow 0px 1.5px 1px rgba(0, 0, 0, 0.35)
      &:after
        create-gradient(#56565a, #3a3a3a)
        z-index -1

.search-wrap
  background transparent
  padding 4px 8px
  border-radius 3px
  position relative
  vendorize(transition-property, width)
  vendorize(transition-duration, default-animation-duration)
  width 20px

  &.expanded
    background #fff

  input
    background transparent
    border 0
    color menu-link-color
    font-weight bold
    width 20px
    overflow hidden
    compat-only(padding, 0)
    vendorize(transition-property, width)
    vendorize(transition-duration, default-animation-duration)
    position absolute
    left 8px
    width 100%
    z-index 2
    cursor pointer

    set-placeholder-style(color, text-color)
    set-placeholder-style(text-transform, uppercase)

  .search-trigger
    position absolute
    right 12px
    z-index 1

/* main content area */
.wrap
  compat-only(max-width, none)
  compat-only(min-width, 0)
  compat-only(width, auto)
  compat-only(padding, 0)

main
  background #fff
  
  > .center 
    padding-top first-content-top-padding


.boxed
  compat-only(border, 0)
  compat-only(box-shadow, none)
  compat-only(padding, 0)
  compat-only(margin, 0)


/* footer */
footer
  background #fff
  font-size smaller-font-size
  padding  (2 * first-content-top-padding 0)

  p, label
    font-style italic

  p
    background url(media-url-dir + 'mdn_logo-only_color.svg') 0 0 no-repeat
    compat-important(padding, 10px 0 0 92px)
    min-height 62px

  .column-strip
    padding-top 10px

  label
    padding-right 4px



/* mobile updates */
@media media-query-mobile

  #main-header
    #tabzilla
      display none

    .user-state
      right grid-spacing
      top grid-spacing

  #main-nav
    > ul
      text-align right
      width 100%
      clear both
      
      > li
        vendorize(transition-property, none)
      
      > li:first-child
          padding-left 0

    &.expand
      ul
        > li:not(:last-child)
          width auto
          max-width none
          vendorize(transition-property, none)
          overflow visible


/* redesign beta notice */
.redesign-beta-notice
  padding 6px 0
  font-size smaller-font-size


/* rtl */
.html-rtl
  #main-header
    .logo
      float right

  #main-nav
    > ul
      float left

  .user-state
    left 200px
    right auto

    li + li
      border-left 1px solid #bbb
      border-right 0
      compat-only(padding-left, 10px)
      compat-only(padding-right, 0)
      compat-only(margin-left, 8px)
      compat-only(margin-right, 0)
      





/* legacy crap for the docs page to get rid of when possible */
#docs

  #content-main
    @extend .column-main

    #doc-search #q-docs
      width 80%

  #content-sub
    compat-only(float, left)
    compat-only(border, 0)
    compat-only(margin-left, 0)
    compat-only(margin-bottom, 0)
    compat-only(border, 0)
    compat-only(background, transparent)

    @extend .column-strip

    .module 
      .mod-title
        compat-only(font, inherit)

      .hfeed h4
        compat-only(font-size, base-font-size)

  #other-sections
    compat-only(margin-top, grid-spacing)

  .section h4 a
    compat-only(font, inherit)

  .wrap.sidebar
    compat-only(background, none)
